@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#parta {
    display: grid;
    font-size: 150%;
    background-color: rebeccapurple;
}
#parta a:link 
{
color: #ccff66;;
}
#parta a:visited {
color: #ff6666;
}
#parta a:hover {
    color: pink;
}
#parta ul li::marker {
    color: black;
 }

div.searchbutton {
    position: absolute;
    width: 10em;
    height: 2em;
    border-style: none;
    border-radius: 0.5em;
  }
[type=text] {
background-color: #2ec4b6;
border-style: none;
border-radius: 0.5em;
margin-top: 1em;

  }
[type=submit] {
background-color: white;
border-radius: 0.5em;
color:rebeccapurple;

  }

  #parta .broomball {
    color:white;
  }

  #list.parta {
    grid-template-columns: 1fr 3fr 1fr 3fr;
}