
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar {
    display: flex;
    align-items: center;
    width: 60%;
    height: 50%;
    background-color: rebeccapurple;
  }

  .navbar .links {
    display: flex;
    align-self: center;
    gap: 2rem;
  }

.navbar .inputbox {
display: flex;
justify-content: right;
padding-left: 45%;
position: absolute;
gap: 0.2rem;
align-items: flex-end;
flex-direction: row;
  }

  a:visited {
color:#ff6666
  }
  a:link {
color: #ccff66
  }
  a:hover {
color: white;
  }

.navbar .broomball {
    color: white;
}

.navbar .searchicon {
    color: white;
}


a:link 
{
color: #ccff66;;
}
a:visited {
color: #ff6666;
}
a:hover {
    color: pink;
}


[type=text] {
background-color: #2ec4b6;
border-style: none;
border-radius: 0.5em;
margin-top: 1em;
  }

[type=submit] {
background-color: white;
border-style: none;
border-radius: 0.5em;
color:rebeccapurple;
  }
