 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital,wght@0,500;1,500&display=swap');
* {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50em;
    background-image: linear-gradient(to right,deeppink, yellow);
}

.navbar h1 {
    font-size: 1.5em;
    text-align: center;
}
.navbar {
    width: 42em; 
    background: white;
    color: black;
}

.navbar input {
    width: 100%;
    height: 100%;
    background: transparent;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: black;
}

.input-box input ::placeholder
{
    color: white;
}

.input-box i {
    position: absolute;
    left: 5em;
    top: 30%;
    transform: translateY(-50%);
    font-size: 1em;
}
a:link 
{
color: blue;
}
a:visited {
color: #ff6666;
}
a:hover {
    color: pink;
}

